.form-container {
  padding: 2em;
}

.event-title {
  text-align: center;
}

.event-form {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5em;
  padding-bottom: 1em;
}

.actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
