<div class="form-container">
  <h2 mat-dialog-title class="event-title">Add Event</h2>
  <div mat-dialog-content>
    <form [formGroup]="event" class="event-form">
      <mat-form-field>
        <mat-label>Event Name</mat-label>
        <input matInput type="text" formControlName="event_title" maxlength="30">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Event Date</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="event_date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <mat-label>Event Time</mat-label>
      <input [ngxTimepicker]="picker" formControlName="event_time">
      <ngx-material-timepicker #picker></ngx-material-timepicker>
      <mat-form-field>
        <mat-label>Event Description</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" formControlName="event_description" maxlength="100"></textarea>
        <mat-hint>{{event_description.value.length}}/100</mat-hint>
      </mat-form-field>
      <p>{{event_image.value ? 'Image: ' : null}}{{getImageName(event_image.value)}}</p>
      <button type="button" mat-raised-button (click)="imgInput.click()">Choose Image</button>
      <input hidden formControlName="event_image" #imgInput type="file" (change)="addImage($event.target.files)"
        accept="image/*" id="file">
    </form>
  </div>
  <div mat-dialog-actions class="actions-container">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button (click)="addEvent()" [disabled]="!event.valid" color="primary">Add Event</button>
  </div>
</div>