.sermons-container {
  display: grid;
  grid-gap: 2em;
  background-image: url("src/assets/images/about/sanctuary.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  text-align: center;
  font-size: 32px;
  padding: 2em;
  color: white;
  background-color: rgba(000, 000, 000, 0.5);
}

.latest-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.sermon-video {
  height: 100%;
  min-height: 300px;
  width: 100%;
}

.most-popular-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

@media (max-width: 960px) {
  .most-popular-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
