<div class="img-container" *ngFor="let i of sliderArray; let select = index;"
  [ngClass]="{'selected' : select == selectedIndex}">
  <img src="{{i.img}}" alt="{{i.alt}}" [ngClass]="{'gray-scale' : grayScale}">
</div>

<div *ngIf="sliderArray && title" class="text-area">
  <h1 *ngIf="title">
    {{title}}
  </h1>
  <p *ngIf="showText">
    {{sliderArray[selectedIndex]['text']}}
  </p>
</div>

<div class="slider" [ngClass]="{'stick-right' : stickRight}">
  <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x = index" (click)="selected(x)"
    (keypress)="keySelected(x)">
    <div class="select-box">
      <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
      </div>
    </div>
  </div>
</div>