<!-- This approach allows a fixed background image on movile browsers -->
<div class="background"></div>
<div class="container">
  <div class="about-container full-screen">
    <div class="text-area">
      <h1 class="title">Who We Are</h1>
      <p class="description">
        We are a local church with a global vision.
        Our desire is to make a positive impact on this world with
        the love and good news of our Lord and Savior Jesus Christ.
        Are you looking for a church where you'll be loved, encouraged,
        and challenged? Do you want to hear preaching that teaches you
        about God's Word in a way that is easy to understand? Do you want
        to live a meaningful life that is pleasing to God and leaves a
        positive mark on society? Then look no further! Let us invite you
        to join us this Sunday. After all, "We're Saving A Place Just For YOU!!!"
      </p>
    </div>
  </div>
  <!-- Staff Component -->
  <app-staff [title]="staffTitle" [staffImages]="staffImages"></app-staff>
  <div class="spacing-container">
    <!-- Doctrine Component -->
    <app-doctrine></app-doctrine>
  </div>
  <app-footer class="footer"></app-footer>
</div>