.about-container {
  display: grid;
  gap: 2em;
  margin-bottom: 2em;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 4em;
}

.arrow {
  font-size: 8em;
  margin: 0.5em auto 0 auto;
  height: auto;
  width: auto;
  line-height: inherit;
}

.arrow:hover {
  cursor: pointer;
}

.title {
  text-align: center;
}

.sub-text {
  text-align: center;
}
