<div class="about-container">
  <div class="intro">
    <span class="container">
      <h1 class="title">
        Who We Are
      </h1>
      <p class="sub-text">
        We are a local church with a global vision.
        Our desire is to make a positive impact on this world with
        the love and good news of our Lord and Savior Jesus Christ.
        Are you looking for a church where you'll be loved, encouraged,
        and challenged? Do you want to hear preaching that teaches you
        about God's Word in a way that is easy to understand? Do you want
        to live a meaningful life that is pleasing to God and leaves a
        positive mark on society? Then look no further! Let us invite you
        to join us this Sunday. After all, "We're Saving A Place Just For YOU!!!"
      </p>
      <span>
        <h2 class="title">
          Our Mission
        </h2>
        <p class="sub-text">
          We exist to know God and to make Him known
        </p>
        <h2 class="title">
          Our Vision
        </h2>
        <p class="sub-text">
          To glorify God by fulfilling the Great Commandment and the Great Commission
        </p>
      </span>
    </span>
  </div>
  <app-staff [title]="staffTitle" [staffImages]="staffImages"></app-staff>
  <div class="spacing-container">
    <!-- Doctrine Component -->
    <app-doctrine></app-doctrine>
  </div>
</div>
<app-footer></app-footer>