.container {
  display: grid;
  grid-gap: 4em;
  height: 100%;
  width: 100%;
  background-image: url("src/assets/images/about/sanctuary.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.about-container {
  display: flex;
  align-items: center;
}

.text-area {
  width: 100%;
  padding: 2em;
  color: white;
  background-color: rgba(000, 000, 000, 0.5);
}

.title {
  text-align: center;
  margin: auto;
}

.description {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 2em;
}

@media (max-width: 768px) {
  .text-area {
    padding: 0 1em;
  }

  .title {
    margin-top: 18px;
  }

  .description {
    font-size: medium;
    padding: 1em;
  }
}
