<div class="intro">
  <span class="container">
    <h1 class="title">
      We're always planning exciting events at {{title}}!
    </h1>
    <p class="sub-text">
      We're a family here and we love to get together and worship the Lord every chance we get.
      Come join us for some fun and fellowship!
    </p>
    <mat-icon color="accent" class="material-icons arrow" (click)="scrollToEvents(target)">
      keyboard_arrow_down
    </mat-icon>
  </span>
</div>

<div class="events-container" #target>
  <mat-card class="events-card mat-elevation-z1">
    <h1 class="title">Upcoming Events</h1>
    <ng-container *ngIf="events.length > 0; else noEvents">
      <div [ngClass]="{'event-margin': !isLast}" *ngFor="let event of events; last as isLast;">
        <mat-card-header>
          <mat-card-title>{{event.event_title}}</mat-card-title>
          <mat-card-subtitle>{{event.event_date}} at {{event.event_time}}</mat-card-subtitle>
        </mat-card-header>
        <div class="image-container">
          <img mat-card-image src="{{imageURL + event.event_image}}" alt="{{event.image_description}}">
        </div>
        <mat-card-content>
          <p class="description">
            {{event.event_description}}
          </p>
        </mat-card-content>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </div>
    </ng-container>
  </mat-card>
</div>

<div *ngIf="services.length > 0" class="events-container">
  <mat-card class="events-card mat-elevation-z1">
    <h1 class="title">Services</h1>
    <div [ngClass]="{'event-margin': !isLast}" *ngFor="let service of services; last as isLast;">
      <mat-card-header>
        <mat-card-title>{{service.event_title}}</mat-card-title>
        <mat-card-subtitle *ngIf="service.event_date.length > 0">{{service.event_date}} at {{service.event_time}}
        </mat-card-subtitle>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image src="{{imageURL + service.event_image}}" alt="{{service.image_description}}">
      </div>
      <mat-card-content>
        <p class="description">
          {{service.event_description}}
        </p>
      </mat-card-content>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </div>
  </mat-card>
</div>

<ng-template #noEvents>
  <div class="no-events">
    <h3>
      There are currently no featured events. <br>
      But check again soon!
    </h3>
  </div>
</ng-template>

<app-footer></app-footer>
