<!-- This approach allows a fixed background image on movile browsers -->
<div class="intro">
  <span class="container">
    <h1 class="title">
      What's going on at SSBC
    </h1>
    <p>
      We have some really exciting events planned here at SSBC!
      One thing you will find about us is that we are a family here
      and we love to get together and worship the Lord every chance we get.
      Come join us for some fun and fellowship!
    </p>
  </span>
</div>

<h1 class="title">Upcoming Events</h1>

<div class="events-container">
  <mat-card *ngFor="let event of events" class="events-card mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>{{event.event_title}}</mat-card-title>
      <mat-card-subtitle>{{event.event_date}} at {{event.event_time}}</mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
      <img mat-card-image src="{{imageURL + event.event_image}}" alt="{{event.image_description}}">
    </div>
    <mat-card-content>
      <p class="description">
        {{event.event_description}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>