.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2em;
}

.events-container {
  display: grid;
  gap: 4em;
  justify-content: center;
  padding: 2em;
}

.title {
  text-align: center;
}

.sub-text {
  padding: 2em;
}

.events-card {
  max-width: 600px;
}

mat-card img {
  height: 100%;
  width: 100%;
  margin: 0;
}

.description {
  padding: 0.5em 0;
}

@media (max-width: 600px) {
  .events-container {
    padding: 2em 0;
  }
}
