<div class="vbs-form-summary-container vertical-gap-container">

  <div class="confirmation-container">
    <h3>Parent / Guardian Info</h3>
    <div class="confirmation-details">
      <strong>Name:</strong>
      <span class="word-wrap">{{parentOrGuardianFirstName.value}} {{parentOrGuardianLastName.value}}</span>
      <strong>Email:</strong>
      <span class="word-wrap">{{email.value}}</span>
      <strong>Phone:</strong>
      <span class="word-wrap">{{phoneNumber.value}}</span>
      <strong>Address:</strong>
      <span class="word-wrap">{{address.value}}</span>
      <strong>Mailing Address:</strong>
      <span class="word-wrap">{{mailingAddress.value}}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="confirmation-container">
    <h3>{{formControlls.length > 1 ? 'Children' : 'Child'}} Info</h3>
    <div class="confirmation-details vertical-gap-container">
      <div *ngFor="let child of formControlls; let index = index" class="confirmation-container">
        <div class="vertical-flow-container">
          <h3 class="label">Child {{index + 1}}</h3>
          <strong>Name:</strong>
          <span class="word-wrap">{{child.value.childFirstName}} {{child.value.childLastName}}</span>
          <strong>Birth Date:</strong>
          <span class="word-wrap">{{child.value.childBirthDay | date}}</span>
          <strong>Last Grade Completed:</strong>
          <span class="word-wrap">{{child.value.childLastGradeCompleted}}</span>
          <strong>Medical Info:</strong>
          <span class="word-wrap">{{child.value.childMedicalInformation}}</span>
          <strong>Permission to Photograph:</strong>
          <span class="word-wrap">{{child.value.childPhotographPermission}}</span>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="confirmation-container">
    <h3>Emergency Contact Info</h3>
    <div class="confirmation-details vertical-gap-container">
      <div class="confirmation-container vertical-gap-container">
        <div class="vertical-flow-container">
          <h3 class="label">Emergency Contact 1</h3>
          <strong>Name:</strong>
          <span class="word-wrap">{{emergencyContact1FirstName.value}} {{emergencyContact1LastName.value}}</span>
          <strong>Phone Number:</strong>
          <span class="word-wrap">{{emergencyContact1PhoneNumber.value}}</span>
        </div>
        <div class="vertical-flow-container">
          <h3 class="label">Emergency Contact 2</h3>
          <strong>Name:</strong>
          <span class="word-wrap">{{emergencyContact2FirstName.value}} {{emergencyContact2LastName.value}}</span>
          <strong>Phone Number:</strong>
          <span class="word-wrap">{{emergencyContact2PhoneNumber.value}}</span>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="confirmation-container">
    <h3>Additional Info</h3>
    <div class="confirmation-details vertical-gap-container">
      <div class="confirmation-container vertical-gap-container">
        <div class="vertical-flow-container">
          <strong>Alternate Pickup:</strong>
          <span class="word-wrap">{{pickupFirstName.value}} {{pickupLastName.value}}</span>
        </div>
        <div class="vertical-flow-container">
          <strong>Church Attendance:</strong>
          <span class="word-wrap">{{churchAttendance.value}}</span>
        </div>
        <div class="vertical-flow-container">
          <strong>Additional Comments:</strong>
          <span class="word-wrap">{{additionalComments.value}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
