<span class="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title-image-container"></div>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <span *ngFor="let item of navItems" >
          <a routerLinkActive="mat-accent" routerLink="{{ item.link }}" mat-button>
            <span class="nav-items">
              {{ item.title }}
          </span>
          </a>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div *ngFor="let item of navItems">
          <a routerLinkActive="active" class="side-nav-items" routerLink="{{ item.link }}" mat-button>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.title }}</span>
          </a>
      </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="nav-content">
      <!-- Currently selected page will be displayed here -->
      <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</span>
