.toolbar {
  // height: 100%;
  position: absolute;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
}

.nav-content {
  display: grid;
  grid-gap: repeat(3 10px) 0;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row {
  height: auto;
}

.title-image-container {
  width: 200px;
  height: 100px;
  margin: 5px 0px;
  background-image: url("src/assets/images/title.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-items {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 5px;
}

.side-nav-items {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0 5px;
}

.active {
  background-color: #29b6f6;
  color: white;
}

@media (max-width: 960px) {
  .toolbar {
    bottom: 56px;
  }

  .title-image-container {
    width: 100px;
    height: 50px;
  }
}
