<span class="toolbar">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <span *ngFor="let item of navItems">
        <a mat-button routerLinkActive="mat-accent" routerLink="{{ item.link }}">
          <span class="nav-items">
            {{ item.title }}
          </span>
        </a>
      </span>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="sidenav">
      <mat-nav-list (click)="sidenav.toggle()">
        <div *ngFor="let item of navItems">
          <a mat-button routerLinkActive="active" routerLink="{{ item.link }}" class="side-nav">
            <div class="side-nav-items">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span class="side-nav-title">{{ item.title }}</span>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <!-- Currently selected page will be displayed here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</span>