.staff-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
 }

.title-container {
  margin: auto;
}

.staff-photo-container {
  padding: 2em;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 90%;
}

.mat-card-header,
.mat-card-title,
.mat-card-subtitle {
  margin: 0 !important;
}

.header-container {
  padding-top: 16px;
}

.image-container {
  position: relative;
}

.title {
  margin: 0.5em auto;
}

.descroption-container {
  display: flex;
  align-items: center;
}

.description {
  padding: 1em;
  padding-right: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .staff-container {
    grid-template-rows: auto 1fr auto;
  }

  .staff-photo-container {
    padding: 0.5em;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .descroption-container {
    align-items: initial;
  }

  .description {
    padding: 1em;
  }
}
