<div class="container">
  <div class="sub-container">
    <div class="message">
      <div *ngIf="!isFormSubmitted; else submittedText">
        <h1>Want to learn more about SSBC?</h1>
        <p>
          We would love to hear from you!
          Please fill out the form below and one of our staff will contact you.
        </p>
      </div>
      <ng-template #submittedText class="message submitted-text">
        <h2>Thanks for reaching out{{(submittedFirstName) ? submittedFirstName : null}}!</h2>
        <p>
          One of our staff members will contact you very soon with more information.
        </p>
      </ng-template>
    </div>
    <div class="form-container">
      <!-- TODO: Remove action and method for FormSpree when a back end is created to handle contact requests -->
      <form #f="ngForm" name="contact_us" (ngSubmit)="onSubmit(f)" action="https://formspree.io/xleregqr" method="POST">
        <h2>Enter your information</h2>
        <div>
          <label for="firstName"><b>First Name</b></label>
          <input type="text" placeholder="Enter First Name" ngModel name="firstName" required />
        </div>
        <div>
          <label for="lastName"><b>Last Name</b></label>
          <input type="text" placeholder="Enter Last Name" ngModel name="lastName" required />
        </div>
        <div>
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" ngModel name="_replyto" required />
        </div>
        <div>
          <label for="phoneNumber"><b>Phone Number</b></label>
          <input type="number" placeholder="Enter Phone Number" ngModel name="phoneNumber" />
        </div>
        <div>
          <input type="hidden" name="_next" value="{{ redirectLink }}" />
        </div>
        <button mat-raised-button color="accent" type="submit" value="Submit" [disabled]="!f.form.valid" class="btn">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>