.container {
  display: grid;
  align-content: center;
  min-height: 100vh;
  background-image: url("src/assets/images/contact/contactUs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: middle;
  padding: 2em;
  min-height: 80vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

.message {
  margin: auto;
  padding: 0.5em;
  text-align: center;
  color: white;
}

.form-container {
  display: grid;
  align-content: space-around;
  margin: 4em 2em;
  max-width: 500px;
}

.form-subtext {
  margin-bottom: 1.5em;
}

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  font-size: 16px;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0 1em 0;
  border: none;
  background: white;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  background-color: lightgray;
  outline: none;
}

.btn {
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.submitted-text {
  text-align: center;
}

@media (max-width: 768px) {
  .sub-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 4em;
    padding: 2em;
  }

  .message {
    margin: 1em;
  }

  .form-container {
    margin: 0 auto;
    width: 100%;
  }

  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-size: 16px;
  }
}
