.video-container {
  height: 50vw;
  width: 80vw;
  padding: 0;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr 4em;
  height: 100%;
  width: 100%;
}

.video,
.close-button {
  height: 100%;
  width: 100%;
}

.mat-card-content {
  margin: 0;
}

@media (max-height: 600px) {
  .video-container {
    height: 80vh;
  }
}
