.doctrine-container {
  width: 90%;
  margin: auto;
}

.mat-expansion-panel-header-title {
  display: block !important;
  margin: 0;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;
}

.doctrine-title {
  text-align: center;
  font-size: x-large;
  margin: 0.5em 0;
}

.content {
  padding: 16px;
}

.title {
  font-size: x-large;
  margin-bottom: 8px;
}

.para {
  font-size: large;
  margin: 0;
}

.verses {
  font-size: 80%;
}

.arrow-up {
  transform: rotate(270deg);
}

.arrow-down {
  transform: rotate(90deg);
}

@media (max-width: 960px) {

  .doctrine-title {
    font-size: medium;
    margin-right: 8px;
  }

  .content {
    padding: 0.5em;
  }
}
