.doctrine-container {
  width: 90%;
  margin: auto;
}

.mat-expansion-panel-header-title {
  display: block !important;
  margin: 0;
}

.header-container {
  display: grid;
  justify-items: center;
  padding: 0.5em 0;
  cursor: pointer;
}

.doctrine-title {
  font-size: x-large;
  margin: 0;
}

.expand-collapse-text {
  margin: 0;
}

.content {
  padding: 16px;
}

.title {
  text-align: center;
  margin: 0;
}

.mat-expansion-panel-header {
  padding: 0 1em;
}

.para {
  font-size: large;
  margin: 0;
  padding: 1em;
}

.verses {
  font-size: 80%;
}

@media (max-width: 768px) {
  .doctrine-title {
    font-size: medium;
    margin-right: 8px;
  }

  .title {
    text-align: left;
  }

  .content {
    padding: 0;
  }

  .para {
    font-size: medium;
    padding: 10.5m 0;
  }
}
