<mat-toolbar color="primary" class="container" *ngIf="navItems" [ngClass]="{'invisible' : !isVisible$.getValue()}">
  <div class="logo" routerLink="/home">
    <img src="../../assets/images/logo_no_bg.png" alt="Church logo">
  </div>
  <!-- Mobile view menu -->
  <button mat-icon-button id="menuButton" [matMenuTriggerFor]="menu" fxShow="true" fxHide.gt-sm
    aria-label="Navigation button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-nav-list>
      <div *ngFor="let item of navItems">
        <a mat-button routerLinkActive="mat-accent" routerLink="{{ item?.link }}" class="sidenav-items">
          <div class="nav-item-container">
            <mat-icon>{{ item?.icon }}</mat-icon>
            <span class="side-nav-title">{{ item?.title }}</span>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-menu>

  <!-- Desktop view menu -->
  <span class="menu-spacer"></span>
  <div fxShow="true" fxHide.lt-md>
    <span *ngFor="let item of navItems">
      <a mat-button routerLinkActive="mat-warn" routerLink="{{ item?.link }}">
        <span class="nav-items">
          {{ item?.title }}
        </span>
      </a>
    </span>
  </div>
</mat-toolbar>
