:host {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

container {
  height: 100%;
  width: 100vw;
}

.nav-item-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.sidenav-items {
  width: 100%;
  border-radius: 0;
  text-align: left;
  font-size: 1.3em;
}

.active {
  background-color: #29b6f6;
  color: white;
}

.menu-spacer {
  flex: 1 1 auto;
}

.nav-items {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 5px;
}
