<div class="container">
  <div class="intro">
    <h1>Want to learn more about {{title}}?</h1>
    <p>
      Please send us an email, give us a call,
      or simply come visit us for our next service.
      We would love to hear from you!
    </p>
  </div>

  <span>
    <!-- <h2>Email</h2> -->
    <div class="info-container">
      <div class="link-container">
        <a href="mailto:{{churchEmail}}">
          <button mat-raised-button>{{churchEmail}}</button>
        </a>
      </div>
      <mat-icon class="material-icons">
        mail_outline
      </mat-icon>
    </div>
  </span>

  <span>
    <!-- <h2>Phone</h2> -->
    <div class="info-container">
      <div class="link-container">
        <a href="tel:{{churchPhoneRaw}}">
          <button mat-raised-button>{{churchPhone}}</button>
        </a>
      </div>
      <mat-icon class="material-icons">
        smartphone
      </mat-icon>
    </div>
  </span>

  <span>
    <!-- <h2>Address</h2> -->
    <div class="info-container">
      <div class="link-container">
        <a href="{{churchLocation}}" target="_blank">
          <button mat-raised-button>{{churchAddress}}</button>
        </a>
      </div>
      <mat-icon class="material-icons">
        navigation
      </mat-icon>
    </div>
  </span>
</div>

<app-footer></app-footer>
