<div class="container">
  <div class="text-area">
    <h2 class="title">Who are we?</h2>
    <mat-list role="list" class="list">
      <mat-icon class="material-icons">check</mat-icon>
      <mat-list-item class="sub-text" role="listitem"><i>Local Church</i></mat-list-item>
      <mat-icon class="material-icons">check</mat-icon>
      <mat-list-item class="sub-text" role="listitem"><i>Global Vision</i></mat-list-item>
    </mat-list>
    <p class="sub-text">
      <i>
        We desire to make a positive impact on this world with
        the love and good news of our Lord and Savior Jesus Christ.
      </i>
    </p>
    <p class="sub-text">
      Join us this Sunday. We're Saving A Place Just For YOU!
    </p>
  </div>
</div>