.container {
  height: 100%;
  background-image: url("src/assets/images/about/friends.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-area {
  position: absolute;
  top: 10%;
  bottom: 10%;
  display: grid;
  padding: 2em;
  color: white;
  background-color: rgba(000, 000, 000, 0.5);
}

.title {
  font-size: 7vw;
  line-height: 90px;
  margin: auto;
}

.sub-text {
  font-size: 28px;
  color: white;
  margin: auto;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 4vw;
  font-weight: bolder;
  line-height: 40px;
  margin: auto;
}

@media (max-width: 768px) {
  .text-area {
    padding: 1em;
  }

  .title {
    font-size: 12vw;
    line-height: 50px;
  }

  .sub-text {
    font-size: 22px;
  }
}
