<div class="container">
  <div class="text-area">
    <h2 class="title">Who are we?</h2>
    <mat-list role="list" class="list">
      <i class="material-icons">check</i>
      <mat-list-item class="sub-text" role="listitem">Local Church</mat-list-item>
      <i class="material-icons">check</i>
      <mat-list-item class="sub-text" role="listitem">Global Vision</mat-list-item>
    </mat-list>
    <p class="sub-text">
      We desire to make a positive impact on this world with
      the love and good news of our Lord and Savior Jesus Christ.
    </p>
    <p class="sub-text">
      Join us this Sunday. We're Saving A Place Just For YOU!
    </p>
  </div>
</div>
