/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Alegreya+Sans:300&display=swap";
@import "theme.scss";
@include mat-core();
@include angular-material-theme($app-theme);
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
$warn: map-get($app-theme, warn);

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.25; // mobile
$mod_2: 1.55; // desktop

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: mat-color($accent);
  font-family: "Alegreya Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem !important;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
  line-height: 1.1em !important;
}

h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 0.8rem !important;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

h3 {
  font-size: $mod_1 * $mod_1 * 0.6rem !important;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

.full-screen {
  position: relative;
  height: 100vh;
  padding: 0px;
}

.min-view {
  min-height: 600px;
}

.sticky-section {
  position: sticky;
  top: 0;
}

.arrow {
  font-size: 8em;
  margin: 0.5em auto 0 auto;
  height: auto;
  width: auto !important;
  line-height: inherit;
  // Prevents the mat-icon text from being selected
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.arrow:hover {
  cursor: pointer;
}

.footer {
  background-color: mat-color($primary);
  height: fit-content !important;
  color: white;
  text-align: center;
  align-content: center;
  padding: 1em;
}

.sidenav {
  min-width: fit-content !important;
}

p {
  font-size: 2em;
  line-height: 1.3em;
}

.background {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-menu-panel {
  width: 50vw;
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-word;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  overflow: visible;
}

@media (max-height: 600px) {
  .sticky-section {
    position: relative;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  p {
    font-size: 1.3em;
    line-height: 1.6em;
  }

  .sidenav {
    width: 30% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
