
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-grey, 50);
$app-accent: mat-palette($mat-light-blue, 400);
$app-warn: mat-palette($mat-pink);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);