.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  background-image: url("src/assets/images/contact/contactUs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 8vw;
  line-height: 120px;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  color: white;
}

.form-container {
  display: grid;
  align-content: space-around;
  margin: 2em;
  max-width: 500px;
  padding: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-header {
  font-size: 4vw;
  line-height: 90px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0 1em 0;
  border: none;
  background: white;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: lightgray;
  outline: none;
}

.btn {
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.submtted-title {
  font-size: 4vw;
  line-height: 50px;
}

.submitted-message {
  font-size: 2vw;
  line-height: 30px;
}

@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0;
  }

  .title {
    line-height: 40px;
  }

  .form-container {
    height: fit-content;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }

  .form-header {
    font-size: 8vw;
    line-height: 40px;
  }

  .submtted-title {
    font-size: 10vw;
    text-align: center;
  }

  .submitted-message {
    font-size: 7vw;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
  }
}
