.home-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 4em;
}

mat-card {
  // Full screen minus the toolbar
  height: calc(100vh - 64px);
  padding: 0px;
  position: sticky;
  top: 0;
}

.footer {
  height: fit-content !important;
}

@media (max-width: 960px) {
  mat-card {
    // Full screen minus the toolbar
    height: calc(100vh - 56px);
  }
}
