<!-- <section class="vbs-form-container">
  <form #form [action]="testFormSparkLink" class="vbs-form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name" required="" />
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" required="" />
    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Message" required=""></textarea>
    <input type="hidden" name="_redirect" [value]="redirectPath" />
    <button type="submit" (click)="form.submit()">Register</button>
  </form>
  <p>{{redirectPath}}</p>
</section> -->

<!--
<section class="vbs-form-container">
  <form #form [formGroup]="formGroup" [action]="testFormSparkLink" class="vbs-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" name="name" formControlName="name">
      <mat-error *ngIf="name.invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <input matInput type="text" id="message" name="message" formControlName="message">
      <mat-error *ngIf="message.invalid">
        Required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Else</mat-label>
      <input matInput type="text" id="elsed" name="elsed" formControlName="elsed">
      <mat-error *ngIf="elsed.invalid">
        Required
      </mat-error>
    </mat-form-field>
    <input type="hidden" name="_redirect" [value]="redirectPath" />
    <button mat-raised-button type="submit" (click)="form.submit()" [disabled]=" formGroup.invalid">Register</button>
  </form>
  <p>{{redirectPath}}</p>
</section> -->

<section class="vbs-form-container">
  <form #form [formGroup]="formGroup" [action]="testFormSparkLink" class="vbs-form">
    <mat-form-field>
      <mat-label>Your Email</mat-label>
      <input matInput type="email" id="email" name="email" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>

    <div formArrayName="formArray">
      <div *ngFor="let control of formControlls; let i = index">
        <button mat-raised-button type="button" (click)="delInput(i)">
          Delete
        </button>
        <app-vbs-sub-form [form]="formControlls[i]"></app-vbs-sub-form>
      </div>
    </div>
    <button mat-raised-button type="button" (click)="addInput()">Add</button>
    <button mat-raised-button type="submit" [disabled]="!formGroup.valid">Save</button>
  </form>
</section>
