.vbs-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5em 0;
}

.vbs-form {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;

  button {
    height: 2.5em;
  }
}

.stepper-nav-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}

.vertical-flow-container {
  display: grid;
  gap: 1em;
}

.horizontal-flow-container {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.add-registrant-btn {
  display: grid;
  align-content: center;
  margin-top: 1em;
}

.remove-registrant-btn {
  display: grid;
  align-content: center;
}

.label-button-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
